@import './colors.scss';
//tamanhos multiplos de 8

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: $background;
}

input[type="password"], input[type="email"], input[type="text"] {
  border: none;
  outline: none;
}

button {
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    font-size: 16px;
    line-height: 50px;
    border: none;
    
   &:disabled {
        background-color: disabledColor;
        color: $disabledText;
       
    }
    &:hover {
        opacity: 0.9;
    }
}